<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>control.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>control.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreServlet</servlet-name>
        <servlet-class>control.GenreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>control.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>control.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductServlet</servlet-name>
        <servlet-class>control.ManagerProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>control.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>control.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductServlet</servlet-name>
        <servlet-class>control.LoadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>control.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjaxServlet</servlet-name>
        <servlet-class>control.SearchByAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>control.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountServlet</servlet-name>
        <servlet-class>control.ListAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMoviesServlet</servlet-name>
        <servlet-class>control.ListMoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>control.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>control.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>control.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccount</servlet-name>
        <servlet-class>control.LoadAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccout</servlet-name>
        <servlet-class>control.AddAccout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountServlet</servlet-name>
        <servlet-class>control.ManagerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBillServlet</servlet-name>
        <servlet-class>control.CreateBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerBillServlet</servlet-name>
        <servlet-class>control.ManagerBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillStatusServlet</servlet-name>
        <servlet-class>control.UpdateBillStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBillsServlet</servlet-name>
        <servlet-class>control.UserBillsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreServlet</servlet-name>
        <url-pattern>/genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductServlet</servlet-name>
        <url-pattern>/managerpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductServlet</servlet-name>
        <url-pattern>/loadpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjaxServlet</servlet-name>
        <url-pattern>/searchajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountServlet</servlet-name>
        <url-pattern>/listaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccount</servlet-name>
        <url-pattern>/LoadAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccout</servlet-name>
        <url-pattern>/AddAccout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountServlet</servlet-name>
        <url-pattern>/ManagerAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBillServlet</servlet-name>
        <url-pattern>/CreateBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerBillServlet</servlet-name>
        <url-pattern>/ManagerBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillStatusServlet</servlet-name>
        <url-pattern>/UpdateBillStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBillsServlet</servlet-name>
        <url-pattern>/UserBillsServlet</url-pattern>
    </servlet-mapping>
</web-app>
